.top {
	background-color: #520063;
	text-align: center;
}
.bottom {
	background-color: #E8D4E3;
	text-align: center;
}

.collapseLink, .collapseLink:hover{
    text-decoration:none;
    color:black
}

.row{
    margin-left:0px;
    margin-right:0px;
}

a:link { color: #6D6C73; text-decoration: none; } 
a:visited { color: #6D6C73; text-decoration: none; } 
a:hover { color: #6D6C73; text-decoration: none; } 
a:active { color: #6D6C73; text-decoration: none; } 

a.linka { color: #520063;}