.navbar{
    text-align:center; 
}

.col-xs-3{
    text-align:center;   
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.collapseLink, .collapseLink:hover{
    text-decoration:none;
    color:black
}