body{
    padding-bottom:80px;
}

#home{
    padding-bottom:0;   
    background-color:#eee;
}

.top {
    text-align:center;
    margin-bottom:20px;
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #7D0099),
	color-stop(1, #40004D)
    );
    background-image: -o-linear-gradient(bottom, #7D0099 0%, #40004D 100%);
    background-image: -moz-linear-gradient(bottom, #7D0099 0%, #40004D 100%);
    background-image: -webkit-linear-gradient(bottom, #7D0099 0%, #40004D 100%);
    background-image: -ms-linear-gradient(bottom, #7D0099 0%, #40004D 100%);
    background-image: linear-gradient(to bottom, #7D0099 0%, #40004D 100%);
}

.bottom {
	background-color: #E8D4E3;
    text-align:center;
}

.container{
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.home-btn{
    margin-top:8px;   
}

.purple{
    color:#520063;   
}

a:link { color: #6D6C73; text-decoration: none; } 
a:visited { color: #6D6C73; text-decoration: none; } 
a:hover { color: #6D6C73; text-decoration: none; } 
a:active { color: #6D6C73; text-decoration: none; } 

a.linka { color: #520063;}

.col-fix{
    margin-right:14px;
}

#homebar{
    margin-bottom:0px;
    height:63px;
}

.head-text{
    color:white;
    font-size:30px;
    font-family:'Roboto', Helvetica, Arial, sans-serif;
    font-weight:100;
}

.black{
    color:#333;   
}

body{
    font-family:'Roboto', Helvetica, Arial, sans-serif;  
    font-weight:400;
    background-color:#eee;
}
    
.btn-left{
    text-align:right;
    padding-right:0px;
}   

.btn-right{
    text-align:left; 
    padding-left:3px;
    padding-top:15px;
}

#marker{
    outline:1px solid black;
}

#paw{
    height:70px; 
    display:inline-block;
    margin-top:-30px
}

#title{
    display:inline-block;
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    font-size:55px;
}

#desc{
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    margin-bottom:17px;
}

#tron{
    padding-top:0px;
    margin-bottom:0px;
}

#search{
    height:34px;
    padding-top:2px;
}

#mins{
    width:25px;
}

#collapseTwo{
    margin-bottom:10px;   
}

#set{
    margin-top:5px;   
}

.btn-custom {
    background-color: hsl(293, 61%, 13%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7D0099", endColorstr="#40004D");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7D0099), to(#40004D));
    background-image: -moz-linear-gradient(top, #7D0099, #40004D);
    background-image: -ms-linear-gradient(top, #7D0099, #40004D);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7D0099), color-stop(100%, #40004D));
    background-image: -webkit-linear-gradient(top, #7D0099, #40004D);
    background-image: -o-linear-gradient(top, #7D0099, #40004D);
    background-image: linear-gradient(#7D0099, #40004D);
    border-color: #300c35 #300c35 hsl(293, 61%, 5.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
    -webkit-font-smoothing: antialiased;
}

.bootstrap-switch > div > span.bootstrap-switch-handle-on{
    background-color:#530063;   
}

#map-canvas { 
    height: 300px;
    width: 100%; 
}

#locate-head{
    margin-bottom:0px;
}

#locate-body{
    padding-bottom:0;
}

.indent{
    margin-left:5px;
    color:#989898 ;
    font-size: 12px;
}

.last{
    padding-bottom:5px;
}

#set{
    margin-top:5px;
    margin-bottom:5px;
}

.brand{
    margin-right:10px;
}